<button class="<%= classes %>">
  <div class="flex items-center justify-center">
    <%= tag.i class: %w[mr-[8px]], data: { feather: "arrow-left" } %>
    <p class="caption">
      <%= content %>
    </p>
    <%= tag.i class: %w[ml-[8px]], data: { feather: "arrow-right" } %>
  </div>
</button>
