<div class="flex flex-col items-center w-3/4 pb-3 mb-5 border-b-2">
  <div class="relative w-32 h-32 my-3 overflow-hidden">
    <%= image_tag("Headway_White_Outline_Logo.png", alt: "Make Waves") %>
  </div>
  <h1 class="h4 text-type-black-secondary">
    Shipwright Tokens - Tailwind CSS / View components / Rails
  </h1>
</div>
