<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Shipwright Tokens - Elixir & Tailwind", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="flex flex-col items-center justify-center w-full bg-type-white-tertiary">
    <header class="flex flex-col items-center w-3/4 pb-3 mb-5 border-b-2">
      <section class="flex flex-col items-center">
      <img src="/images/headway.png" alt="Make Waves">
        <h4 class="h4 h4-400 text-type-black-secondary">Shipwright Tokens - Elixir & Tailwind CSS</h4>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
