<button
  class="
    flex
    justify-center
    items-center
    rounded-full
    py-[16px]
    px-[24px]
    text-type-white-primary
    bg-button-active
    hover:bg-button-hover
    disabled:text-type-white-primary
    disabled:bg-button-deactivated
  "
>
  <div class="flex items-center justify-center">
    <i data-feather="arrow-left" class="h-[16px] w-[16px] mr-[8px]"></i>
    <p class="caption">Button</p>
    <i data-feather="arrow-right" class="h-[16px] w-[16px] ml-[8px]"></i>
  </div>
</button>
