<div
  class="
    flex
    flex-col
    items-center
    justify-center
    w-full
    bg-type-white-tertiary
  "
>
  <%= render(HeaderComponent.new()) %>
  <%= render(TypographyComponent.new()) %>
  <%= render(ColorsComponent.new()) %>
</div>
