<div class="flex flex-col align-start gap-[8px]">
  <div class="flex flex-row items-center justify-between">
    <label
      for="input"
      class="flex flex-row items-center p-0 text-base font-normal text-type-black-primary">
      Label
    </label>
    <p class="paragraph2 text-type-black-secondary">Hint: Optional text.</p>
  </div>
  <div
    class="relative flex flex-row border border-background-black-line focus-within:border-button-active focus-within:w-full"
  >
    <input class="peer focus:outline-none text-sm py-[14px] px-[16px] pl-[48px] w-full" name="input" placeholder="Placeholder text..."></input>
    <i data-feather="search" class="absolute pointer-events-none h-[20px] w-[20px] left-[16px] top-[14px] peer-disabled:text-type-black-deactivated text-type-black-primary"></i>
    <i data-feather="arrow-right" class="pointer-events-none mr-[16px] mt-[14px] peer-disabled:text-type-black-deactivated text-type-black-primary"></i>
  </div>
</div>
