<div class="flex flex-col align-start gap-[8px]">
  <div class="flex flex-row items-center justify-between">
    <label
      for="textarea"
      class="flex flex-row items-center p-0 text-base font-normal text-type-black-primary"
    >
      Label
    </label>
    <p class="paragraph2 text-type-black-secondary">Hint: Optional text.</p>
  </div>
  <div
    class="relative flex flex-row border border-background-black-line focus-within:border-button-active focus-within:w-full"
  >
    <textarea
      class="
        peer
        focus:outline-none
        text-sm
        py-[14px]
        px-[16px]
        w-full
        resize-none
      "
      rows="4"
      name="textarea"
      placeholder="Placeholder text..."
    ></textarea>
  </div>
</div>
