name: Automate Tests

on:
  push:
    branches:
      - main
  pull_request: 
    branches:
      - main

jobs:
  automate-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0
      - run: npm i
      - run: npm run build
      - run: npm test
